* {
  box-sizing: border-box;
}

body {
  background-color: grey;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 352px;
  height: 197px;
  margin: 0 auto;
  margin-top: 20px;
  outline: 1px solid white;
}